@font-face {
  font-family: 'Xi';
  src: url('fonts/蒙纳简喜宴体.ttf')  format('truetype')
}
@font-face {
  font-family: 'Sacramento';
  src: url('fonts/Sacramento-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'IndieFlower';
  src: url('fonts/IndieFlower.ttf')  format('truetype')
}