@font-face {
  font-family: '雅黑';
  src: url('fonts/msyh.ttf')  format('truetype')
}
@font-face {
  font-family: '行楷';
  src: url('fonts/hwxk.ttf')  format('truetype')
}
@font-face {
  font-family: '琥珀';
  src: url('fonts/hwhp.ttf')  format('truetype')
}
@font-face {
  font-family: '隶书';
  src: url('fonts/hwls.ttf')  format('truetype')
}
@font-face {
  font-family: '新魏';
  src: url('fonts/hwxw.ttf')  format('truetype')
}
@font-face {
  font-family: 'Sacramento';
  src: url('fonts/Sacramento-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'IndieFlower';
  src: url('fonts/IndieFlower.ttf')  format('truetype')
}
body { 
  margin:0px 0px;
  font-size: 12px;
	color:#333333;
	overflow: hidden;
  line-height: 18px;
	background-color: #ececec;
  font-family: "Open Sans", sans-serif !important; margin: 0; font-size: 14px !important; line-height: 1.5 !important; 
 }